<div class="container">
  <div class="row">
    <div class="col-md-6">
        <div class="form-group">
          <label for="ptitle">Ptitle</label>
          <input type="text" placeholder="title" #ptitle class="form-control">
        </div>
        <div class="form-group">
          <label for="">Pdescription</label>
          <input type="text" placeholder="productArray" #Pdescription class="form-control">
        </div>
        <div class="text-right">
          <button class="btn-btn-primary mr-3"
          (click)="onAddProd('Catlog')">Catlog</button>
          <button class="btn-btn-danger" 
          (click)="onAddProd('Material')">Material</button>
        </div>
    </div>
    <div class="col-md-6">
      <div class="card alert" *ngFor="let product of productArray"
      [ngClass]="[{
        'alert-success':product.Pcategory==='Material',
        'alert-danger':product.Pcategory==='Catlog'

      }]">
        <div class="card-header">
              {{product.ptitle}}
        </div>
        <div class="card-body">
          {{product.Pdescription}}
        </div>
        <div class="card-footer">
          <button class="btn-btn-primary">Edit</button>
          <button class="btn-btn-danger">Delete</button>
        </div>
      </div>    

    </div>
  </div>
</div>